extends layout

block content
  .row
    .column
        h2= doc.title
        p= __('created {{date}} by {{user}}', {date: moment(doc.dated).format('DD.MM.YYYY'), user: doc.owner.settings.displayName})
  .row
    .column
      h3 Check-out
      if (doc.locked)
        p= __('Document is locked by {{lockUser}}', {lockUser: doc.lockedBy.username})
        if (doc.lockedBy.username == user.username)
          form(action="/documents/checkout/"+doc.fileId, method="post", enctype="multipart/form-data")
            label(for="documents")= __('Return document')
            input(type="file", name="documents" multiple)
            button(type="submit")= __('Submit')
      else
        span= __('Document can be checked out')
        a.button(href="/documents/checkout/"+doc.fileId)= __('Download')
    .column
      h3= __('Shared With')
      if (doc.sharedWith.length == 0)
        p= __('Not shared yet')
      else
        ul
          each user, index in doc.sharedWith
            li
              .croppedImage
                img(src="data:image/jpeg;base64,"+user.avatar)
              span= user.settings.displayName

      if(user.username == doc.owner.username)
        form(action="/documents/share/" + doc.fileId, method="post")
          input#shareAutoSug(type="text")
          input#hiddenUsername(type="hidden", name="shareUsername")
          button(type="submit")= __('Share')
    .column
      h3= __('Keywords & Tags')
      p= doc.extension
  .row
    .column
      h4= __('Logs')
      each log in doc.log
        code= log.message + ' | ' + __('{{user}} at {{time}}', {user: log.user.settings.displayName, time: moment(log.timestamp).format('DD.MM.YYYY hh:mm')})
        br
      if(doc.sharedWith.includes(user) || doc.owner.username == user.username)
        a.button.button-clear#addCommentModal()= __('Add comment')

  script(src="/js/jquery.easy-autocomplete.js")
  script(src="/js/index.js")