extends layout

block content
  .row
    .column
        h2= doc.title
        p= __('created {{date}} by {{user}}', {date: moment(doc.dated).format('DD.MM.YYYY'), user: doc.owner.username})
  .row
    .column.column-25
      h3 Check-out
      if (doc.locked)
        p= __('Document is locked by {{lockUser}}', {lockUser: doc.lockedBy.username})
        if (doc.lockedBy.username == user.username)
          form(action="/documents/checkout/"+doc.fileId, method="post", enctype="multipart/form-data")
            label(for="documents")= __('Return document')
            input(type="file", name="documents" multiple)
            button(type="submit")= __('Submit')
      else
        span= __('Document can be checked out')
        a.button(href="/documents/checkout/"+doc.fileId)= __('Download')
    .column.column-50
      h3= __('Share')
      form(action="/document/share/" + doc.fileId, method="post")
        input#shareAutoSug(type="text")
        input#hiddenUsername(type="hidden", name="shareUsername")
        button(type="submit")= __('Share')
      if (doc.sharedWith.length == 0)
        p= __('Not shared yet')
      else
        each user, index in doc.sharedWith
          li= val.username
    .column.column-25
      h3= __('Keywords & Tags')
      p= doc.extension

  script(src="/js/jquery.easy-autocomplete.js")
  script(src="/js/index.js")