extends layout

block content
  .row
    .column
        h2= doc.title
        p created #{moment(doc.dated).format('DD.MM.YYYY')} by #{doc.owner.username}
  .row
    .column.column-25
      h3 Check-out
      if (doc.locked)
        p Document is locked by #{doc.lockedBy.username}
        if (doc.lockedBy.username == user.username)
          form(action="/documents/checkout/"+doc.fileId, method="post", enctype="multipart/form-data")
            label(for="documents") Return document
            input(type="file", name="documents" multiple)
            button(type="submit") Submit
      else
        span Document can be checked out
        a.button(href="/documents/checkout/"+doc.fileId) Download
    .column.column-50
      h3 Share
      if (doc.sharedWith.length == 0)
        p Not shared yet
      else
        each user, index in doc.sharedWith
          li= val.username
    .column.column-25
      h3 Keywords & Tags
      p= doc.extension