extends layout

block content
  .row
    .column
      form(action="/documents/", method="post", enctype="multipart/form-data")
        label(for="title")= __('Title')
        input(type="text", name="title")
        label(for="dated")= __('Date recieved')
        input(type="date", name="dated")
        label(for="documents")= __('Documents to upload')
        input(type="file", name="documents" multiple)
        label(for="comment")= __('Comment')
        textarea(name="comment", cols="30", rows="10")
        button.float-right(type="submit")= __('Submit')
    .column.column-50